#dashboard {
    height: 60rem;
    width: 60rem;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
  }